$primary-color: rgb(241, 241, 185);
$secondary-color: beige;
$text-color-dark: black;
$text-color-light: white;
$accent-color: orange;
$accent-color-2: green;
$border-bottom: 1px solid rgba(214, 214, 214, 0.479);
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$box-shadow-2: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$box-shadow-bottom: rgba(0, 0, 0, 0.04) 0px 3px 5px;
$btn-hover-1: rgb(255, 192, 75);
$btn-hover-2: rgb(30, 204, 30);
